/* Contact Section */
.contact-section {
    padding: 50px 20px;
    background-color: #fff;
}

.contact_container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact_container h2 {
    font-size: 2.5rem;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.contact_container p {
    font-size: 1rem;
    color: #666;
    text-align: center;
    margin-bottom: 20px;
}

.contact-form {
    max-width: 500px;
    margin: 0 auto;
}

.contact-form label {
    font-size: 1rem;
    color: #333;
    margin-bottom: 10px;
    display: block;
}

.contact-form input[type="text1"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 1rem;
    color: #333;
}

.contact-form input[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block;
    margin: 0 auto;
}

.contact-form input[type="submit"]:hover {
    background-color: #0278f5;
}
